    
<style>
    body {
        background-color: black;
    }

    a:link {
        color: red;
    }

    /* visited link */
    a:visited {
        color: mediumpurple;
    }

    /* mouse over link */
    a:hover {
        color: gold;
    }

    /* selected link */
    a:active {
        color: blue;
    }
</style>


<link href="~/css/site.css" rel="stylesheet" />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <center><img src="~/images/DierdreCoolShot.jpg" ASP.NET" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <center><img src="~/images/DierdreRocker/DierdreRocker4.jpg" alt="Visual Studio" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <center><img src="~/images/DierdreRocker/DierdreRocker5.jpg" alt="Package Management" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">

            </div>
        </div>
        <div class="item">
            <center><img src="~/images/DierdreRocker/DierdreRocker2.jpg" alt="Microsoft Azure" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <center>
        <h2><strong>NEXT SHOW IS JULY 1st, GET MORE INFORMTION<a href="https://www.facebook.com/events/290357378083591/?acontext=%7B%22ref%22%3A%2222%22%2C%22feed_story_type%22%3A%2277%22%2C%22action_history%22%3A%22null%22%7D&pnref=story"><u>HERE!</u></a></strong></h2>
    </center>
</div>


<div>
    <h3>About the Dierdre Band</h3>


    <p>
        Rock & roll songstress Dierdre is a vocal powerhouse with a killer band.
        She captivates you with her unique, compelling vocals; strong, aggressive,
        haunting, and beautiful all at the same time. This high energy, original band’s sound,
        is alternative rock meets hard rock. Dierdre has been the local opener for bands like
        Steel Panther, KORN, Stitched Up Heart, The Iron Maidens and Letters From The Fire.
        In addition to opening for several National acts, this band performs out regularly
        around Phoenix at venues like Livewire, The Rebel Lounge, Rockbar, Arizona Bike Week,
        Pranksters Too, Pho Cao, Last Exit, the Marquee and Cooperstown. Be sure to catch one of
        her upcoming shows. Dierdre released her debut album, I'VE COME TO LIFE, in June 2017.

        Grab a copy <strong><u><a href="https://squareup.com/store/dierdre">HERE</a></u></strong>on the Square store!
    </p>

</div>
