
<style>
    body {
        background-color: black;
    }

    a:link {
        color: red;
    }

    /* visited link */
    a:visited {
        color: mediumpurple;
    }

    /* mouse over link */
    a:hover {
        color: gold;
    }

    /* selected link */
    a:active {
        color: blue;
    }

    .carousel-indicators li {
        visibility: hidden;
    }
</style>


<link href="~/css/site.css" rel="stylesheet" />
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <center><img src="~/images/About Photos/About1.jpg" ASP.NET" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">

            </div>
        </div>

        <div class="item">
            <center><img src="~/images/About Photos/About2.jpg" alt="Visual Studio" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">

            </div>
        </div>

        <div class="item">
            <center><img src="~/images/About Photos/About3.jpg" alt="Package Management" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">
            </div>
        </div>

        <div class="item">
            <center><img src="~/images/About Photos/About4.jpg" alt="Microsoft Azure" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">
            </div>
        </div>

        <div class="item">
            <center><img src="~/images/About Photos/About5.jpg" alt="Microsoft Azure" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">
            </div>
        </div>

        <div class="item">
            <center><img src="~/images/About Photos/About6.jpg" alt="Microsoft Azure" class="img-responsive" /></center>
            <div class="carousel-caption" role="option">
            </div>
        </div>
    </div>
</div>


<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>

@*<div>
        <center>
            <h2><strong>NEXT SHOW IS JULY 1st, GET MORE INFORMTION<a href="https://www.facebook.com/events/290357378083591/?acontext=%7B%22ref%22%3A%2222%22%2C%22feed_story_type%22%3A%2277%22%2C%22action_history%22%3A%22null%22%7D&pnref=story"><u>HERE!</u></a></strong></h2>
        </center>
    </div>*@


<div>
    <h3><u>About the Dierdre Band</u></h3>


    <p style="text-align:justify">
        Rock & roll songstress Dierdre is a vocal powerhouse with a killer band. She captivates you with her unique, compelling vocals;
        strong, aggressive, haunting, and beautiful all at the same time. This high energy, original band’s sound, is alternative rock
        meets hard rock. Dierdre has been the local opener for bands like Steel Panther, Stitched Up Heart, Letters From The Fire,
        KORN and The Iron Maidens.
    </p>
    <br />
    <p style="text-align:justify">
        Dierdre released her first full length album, I've Come To Life in June 2017. The album was
        recorded at Full Well Studios in Phoenix, AZ. It was written and produced by Mike Bolenbach, Byron Carrick, Dierdre Evans
        and Ben Hall. I've Come To Life was mastered by Grammy award winning mastering engineer, Emily Lazar at The Lodge Mastering
        in NY, NY. In addition to opening for several National acts, Dierdre performs out regularly around Phoenix at venues like Livewire,
        The Rebel Lounge, Rockbar, The Marquee Theatre, Arizona Bike Week, Pranksters Too, Pho Cao, Last Exit, and Cooperstown.
    </p>
    <br />
    <p style="text-align:justify">
        Be sure to catch one of her upcoming shows! Click <a href="http://www.dierdremusic.com/Home/Shows"> HERE</a>for show dates
        <br />
        <strong>AND</strong>
        <br />
        Grab a copy of her Latest Album "I've Come to Life" <strong><u><a href="https://squareup.com/store/dierdre"> HERE </a></u></strong>on the Square store!
    </p>

</div>
