<style>
    body {
        background-color: black;
    }

    input {
        color:black;
        
    }

    input:focus {
        background-color:cornflowerblue;
    }
</style>

<image>
    <center><img src="~/images/LogoBlack.png" /></center>
</image>

<h2>For Booking Information or Questions, Please Visit Us on <a href="https://www.facebook.com/dierdremusic/"><u>Facebook</u></a></h2>
<h2> OR </h2>
<h2>Send Us an Email by Filling Out the Form Below:</h2>

<form action="https://formspree.io/dierdremusic@gmail.com"
      method="post">
    
    Name:<br>
    <input  placeholder="Name"  type="text" name="name"><br>
    E-mail:<br>
    <input  placeholder="Email Address"  type="text" name="mail"><br>
    Comment:<br>
    <input  placeholder="Leave a Comment, 50 Character Max"  type="text" name="comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
</form>
