<style>
    body {
        background-color: darkslategrey;
    }
</style>

<image>
    <img src="~/images/LogoBlack.png" />
</image>

<h2>For More Information or to Contact Us, Please Visit Us on <a href="https://www.facebook.com/dierdremusic/"><u>Facebook</u></a></h2>

@*@{
        ViewData["Title"] = "Contact";
    }
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>*@
