

<style>
    body {
        
        background-color:black;
    }

</style>
<body>
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <center><img src="~/images/LogoBlack.png" ASP.NET" class="img-responsive" /></center>
                <div class="carousel-caption" role="option">
                    @*<p>

                            <a class="btn btn-primary" href="https://www.facebook.com/events/290357378083591/?acontext=%7B%22ref%22%3A%2222%22%2C%22feed_story_type%22%3A%2277%22%2C%22action_history%22%3A%22null%22%7D&pnref=story">
                               View Facebook
                            </a>
                        </p*@>
                </div>
            </div>
            <div class="item">
                <a href="https://squareup.com/store/dierdre">
                    <img src="~/images/squareLogo.png" lt="Visual Studio" class="img-responsive" />
                </a>
                <div class="carousel-caption" role="option">
                    <div style="text-align:center">
                        <h2 style="float:right">
                            Click The Square Logo <br />
                            to Shop All <br />
                            of Your Favorite Dierdre <br />
                            Gear and CD's!
                            @*<a class="btn btn-primary" href="https://www.facebook.com/dierdremusic/">
                                    View Facebook
                                </a>*@
                        </h2>
                    </div>
                </div>
            </div>
            <div class="item">
                <center> <img src="~/images/Dierdre3.jpg" alt="Package Management" class="img-responsive" /></center>
                <div class="carousel-caption" role="option">
                    <p>
                        Arizona's Unicorn Rock Goddess
                        <a class="btn btn-primary" href="https://www.facebook.com/dierdremusic/">
                            View Facebook
                        </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <center> <img src="~/images/Dierdre4.jpg" alt="Microsoft Azure" class="img-responsive" /></center>
                <div class="carousel-caption" role="option">
                    <p>
                        Arizona's Unicorn Rock Goddess
                        <a class="btn btn-primary" href="https://www.facebook.com/dierdremusic/">
                            Go to Facebook
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h2><strong>GET INFORMATION ABOUT OUR NEXT SHOW <a href="https://www.facebook.com/events/449578442049149/?acontext=%7B%22action_history%22%3A%22[%7B%5C%22surface%5C%22%3A%5C%22page%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22page_upcoming_events_card%5C%22%2C%5C%22extra_data%5C%22%3A[]%7D]%22%2C%22has_source%22%3Atrue%7D"><u>HERE!</u></a></strong></h2>
</body>


