
<style>
    body {
        background-color: darkslategrey;
    }

    a:link {
        color: blue;
    }

    a:visited {
        color: red;
    }
    a:hover {
    color: hotpink;
}

}
</style>

<body>
    <h1>Members of Dierdre</h1>

    @*Dierdre Information*@
    <h2>
        <a href="https://www.facebook.com/dierdre.evans"><u>Dierdre Evans</u></a>
    </h2>
    <h3>Lead Vocals</h3>
    <image>
        <img src="~/images/DierdreMusician.jpg" />
    </image>
    <p>
        Bio Coming Soon!
    </p>

    @*Jimmy Caterine Information*@

    <h2><a href="https://www.facebook.com/jimmydeecaterine"><u>Jimmy Caterine</u></a></u></h2>
    <h3>Guitar, Vocals</h3>
    <image>
        <img src="~/images/JimmyCat1.jpg" />
    </image>
    <p>
        Bio Coming Soon!
    </p>

    @*James Kulon Information*@
    <h2><a href="https://www.facebook.com/james.kulon"><u>James Kulon</u></a></h2>
    <h3>Bass Guitar, Vocals</h3>
    <image>

        <img src="~/images/james1.jpg" />
    </image>
    <p style="text-align:justify">
        James first started playing bass at the age of 7 years old.
        He was influenced heavily by his brothers who both played bass as well.
        He is heavily Rock influenced by Rush, Yes, Led Zepplin, The Who and Dream Theater.
        James is a mulit-instrument musician, also playing keys, guitar, and drums.  He studied classical music composition at ASU
        and played Jazz music exclusiviely for 10 years before coming back to his rock roots.  Other influences include James Jamerson, Stanley Clarke, Victor Wooten and Mark King.<br />
        <br />
        <strong><u>Current Gear:</u></strong><br />
        <Strong>Basses:</Strong> Dingwall Combustion NG-2 5-String, Modulus Quantum 5-String <br />
        <Strong>Amps:</Strong> Fender TB-1200, Fender Rumble 200 <br />
        <Strong>Effects:</Strong> Line 6 M-13<br />
        <Strong>Cabinets:</Strong> Ampeg HLF-410, Fender 1X15, Aguilar DB210
    </p>


    @*Dwain Miller Information*@
    <h2><a href="https://www.facebook.com/dwain.miller"><u>Dwain Miller</u></a></h2>
    <h3>Drums, Vocals</h3>
    <image>
        <img src="~/images/dwain1.jpg" />
    </image>
    <p>
        Bio Coming Soon!
    </p>


    @*Jimi Powers Information*@

    <h2><a href="https://www.facebook.com/jimi.powers"><u>Jimi Powers</u></a></h2>
    <h3>Guitar, Vocals</h3>
    <image>
        <img src="~/images/JimiPowers1.jpg" />
    </image>
    <p>
        Bio Coming Soon!
    </p>



</body>

