
<style>
    body {
        background-color: black;
    }

    a:link {
        color: blue;
    }

    a:visited {
        color: red;
    }

    a:hover {
        color: hotpink;
    }
</style>

<body>
    <center><h1><u>MEMBERS OF DIERDRE</u></h1></center>

    @*Dierdre Information*@
    <h2>
        <a href="https://www.facebook.com/dierdre.evans"><u>Dierdre Evans</u></a>
    </h2>
    <h3>Lead Vocals</h3>
    <image>
        <img src="~/images/DierdreRocker/DierdreRocker7jpg.jpg" />
    </image>

    <p style="text-align:justify">
        Dierdre Evans’ vocal control, range, versatility, and dynamic, soulful voice are displayed in the power and passion of her performances.
        Raised in Arizona, Dierdre began taking vocal lessons at the age of 14, and throughout high school she was very active in music classes
        and shows of all different genres. She continued to study vocal performance at NAU, where she was offered an opera scholarship.
        After college, she started working with producers on original music, developing her sound in the song-writing world.
    </p>
    <br />
    <p style="text-align:justify">
        Dierdre has been featured in many local events such as singing the national anthem at the Suns games(s), making it to the finals
        in several of Arizona’s singing competitions, and has been the lead singer in some of Arizona’s most well loved cover bands.
    </p>

    <br />
    <p style="text-align:justify">
        In 2014, she started her original band, Dierdre, and began writing and recording songs with Mike Bolenbach, Byron Carrick,
        and Ben Hall at Full Well Recording Studio in Phoenix, AZ. In 2015, she began performing out regularly with her live band
        and continues to do so today. Dierdre released her first full length album called I’VE COME TO LIFE, in June 2017.
        <br />
    </p>

    @*Jimmy Caterine Information*@

    <h2><a href="https://www.facebook.com/jimmydeecaterine"><u>Jimmy Caterine</u></a></ u></h2>
    <h3>Guitar, Vocals</h3>
    <image>
        <img src="~/images/JimmyCat1.jpg" />
    </image>

    <p style="text-align: justify">
        Jimmy Caterine (also known as Jimmy Dee and Jimmy Cat) grew up in Honolulu, Hawaii.
        A career musician, he has toured extensively, performing well over 3000 live
        shows and has performance credits on over 30 records, both major and minor labels.
        Most noted is his, 11 year, tenure with NWOBHM cult classic, Sacred Rite (1980 – 1990),
        who was signed to Capitol Records for the second half of the 80’s.
    </p>
    <p style="text-align:justify">
        Other notable credits include a, 3 month, tenure (on guitar) for the live production of
        Rocky Horror Picture Show in 1986 and touring guitarist and musical director for former MGM
        recording artist Sami Jo Cole (1993- 95.)
        Jimmy Cat owns two music publishing companies for both his own
        compositions and other artists. He has placed music with various companies, including, The Lowery Group and Bristol Myers.
        As an audio engineer, he has been nominated for 7 Na Hoku Hanohano Awards, through Hawaii Academy of Recording Arts (HARA) between 2014 -2016.
    </p>

    <p style="text-align:justify">After 25 years of meaningless successes, he has found family, once again, with Dierdre, her band and her team.</p>
    <br />
    <strong><u>Current Gear:</u></strong><br />
    <strong>Guitars:</strong>1988 Charvel Fusion (3), Gibson Les Paul, Ovation Celebrity Acoustic <br />
    <strong>Amps:</strong>Marshall JCM 900, Marshall 4x12 cabs<br />
    <Strong>Effects:</Strong>Boss GT -10


    @*James Kulon Information*@
    <h2><a href="https://www.facebook.com/james.kulon"><u>James Kulon</u></a></h2>
    <h3>Bass Guitar, Vocals</h3>
    <image>

        <img src="~/images/james1.jpg" />
    </image>
    <p style="text-align:justify">
        James first started playing bass at the age of 7 years old.
        He was influenced heavily by his brothers who both played bass as well.
        He is heavily Rock influenced by Rush, Yes, Led Zepplin, The Who and Dream Theater.
        James is a mulit-instrument musician, also playing keys, guitar, and drums.  He studied classical music composition at ASU
        and played Jazz music exclusiviely for 10 years before coming back to his rock roots.  Other influences include James Jamerson, Stanley Clarke, Victor Wooten and Mark King.<br />
        <br />
        <strong><u>Current Gear:</u></strong><br />
        <Strong>Basses:</Strong> Dingwall Combustion NG-2 5-String, Modulus Quantum 5-String <br />
        <Strong>Amps:</Strong> Fender TB-1200, Fender Rumble 200 <br />
        <Strong>Effects:</Strong> Line 6 M-13<br />
        <Strong>Cabinets:</Strong> Ampeg HLF-410, Fender 1X15, Aguilar DB210
    </p>


    @*Dwain Miller Information*@
    <h2><a href="https://www.facebook.com/dwain.miller"><u>Dwain Miller</u></a></h2>
    <h3>Drums, Vocals</h3>
    <image>
        <img src="~/images/Dwain/Dwain3.jpg" />
    </image>
    <p style="text-align:justify">
        Phoenix, Arizona rock legend, Dwain Miller, began his musical career drumming for local cover and original bands. At 19 he made the trip to Los Angeles. CA to audition for Steeler.
        Though he did not get that gig, it did open the door for him to join Keel in 1985.
    </p>
    <br />
    <p style="text-align:justify">
        With Keel, Dwain recorded two, Billboard charting, studio records with producer, Gene Simmons, and one with producer, Michael Wagener.
        He has toured, extensively, in the US, Japan and Europe, both, headlining and opening for the likes of Bon Jovi, Dio, Queensryche, Krokus, Accept and Loudness.
        Technically, still a member of Keel, he has appeared on two reunion CD’s. One in 1998 and another in 2010.
    </p>

    <br />
    <p style="text-align:justify">
        Through the years Dwain has kept his chops up by continuing to perform in various settings.
        He currently tours with Don’t Look Back – the Boston Experience and Listen to The Music – Doobie Brothers Experience.
    </p>
    <br />

    <p style="text-align:justify">
        He found his way to Dierdre through friend and bassist, James Kulon.
    </p>
    <br />
    <p style="text-align:justify">
        Dwain is also a devoted husband and father.
    </p>
    <br />
    <p>
    <strong><u>Current Gear:</u></strong><br />

    With Dierdre, Dwain is using 24"x14" kick drum, toms are 13"x9", 16"x16", 18"x16". <br />

    <strong>Cymbals: </strong>Paiste 2002's: 15" sound edge hats,   18", 20" crashes,   22" ride. Sometimes a power ride,   Sometimes a regular ride. <br />

    <strong>Sticks: </strong> Vic Firth 5b wood tip, custom made with my autograph.  Also use extreme 55a. Just a little longer and thinner. <br />

    <strong>Pedals: </strong> DW 5000 double pedal. <br />

    <strong>Other Equipment: </strong>    All other hardware is Pearl.


    </p>


    @*Jimi Powers Information*@

    <h2><a href="https://www.facebook.com/jimi.powers"><u>Jimi Powers</u></a></h2>
    <h3>Guitar, Vocals</h3>
    <image>
        <img src="~/images/JimiPowers1.jpg" />
    </image>
    <p style="text-align:justify">
        Arizona native, Jimi Powers, has been a professional musician since 1978.
        During his career, he gained two years of college music theory and classical guitar training.
        <br />
    </p>
    <p style="text-align:justify">
        Powers is well rounded and articulate, and adept to performing multiple genre’ from Rock to Country to acoustic stylings.
        He has performed continuously over the past 30 years in both local and regional acts as, both, a singer and guitarist, including Mindy Harris Band and The Plump Tones to name a few.
        <br />
    </p>
    <p style="text-align:justify">
        Since 1999, Jimi has worked as a staff session guitarist at Full Well Recording Studio where he has been featured on hundreds of records.
        He has performed and recorded with a wide array of artists including, Andy West (Dixie Dregs), Jeff Scott Soto (Yngwie Malmsteen), Starship, Foghat, Jason Aldean, and many more.
        <br />
    <p>
    <p>
        <br />
        <strong><u>Current Gear:</u></strong><br />

        <strong>Guitars:</strong>5 late 80's series Ibanez 540 S guitars. Ernie Ball John Petrucci Musicman, 98 Fender Strat, Jackson dinky reverse headstock, Fender acoustic.
        <br />
        <strong>Amps:</strong>1978 Marshall JMP half stack with royalty mod. Fender Hot Rod Deluxe
        <br />
        <strong>Pedals and Effects:</strong> Boss tuner Line 6 wireless Ibanez Deluxe Tube Screamer, OCD distortion, Boss Octaves, Boss Digital Delay.

    </p>



</body>

