<style>
    body {
        background-color: black;
    }

    ul {
        list-style-type: none;
        padding-left:0;
    }
</style>

<center><h2><u>Download and Streaming</u></h2></center>

<center>
    <a href="https://geo.itunes.apple.com/us/album/ive-come-to-life/id1241801277?mt=1&app=music"
       style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/music-lrg.svg)
           no-repeat;width:110px;height:40px;background-size:contain;"></a>
</center>
<div>
    <center>
        <a href="spotify:album:6xxcmsJFBIZbGPBWcL1kAt"><img src="~/images/Link_Spotify.png" /> </a>
    </center>
</div>

<center>
    <h2><u>Dierdre on Sound Cloud</u></h2>
    <ul>
        @*Black Widow*@
        <h3><u>Black Widow</u></h3>
        <li>
            <iframe height="480"  width="854" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/235472760&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </li>

        @*Hold Steady*@
        <h3><u>Hold Steady</u></h3>
        <li>
            <iframe height="480"  width="854" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/291043445&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" scrolling="no" frameborder="no"></iframe>
        </li>

        @*Suffer*@
        <h3><u>Suffer</u></h3>
        <li>
            <iframe height="480"  width="854" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/324019212&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" scrolling="no" frameborder="no"> </iframe>
        </li>

        @*Hit or Miss*@
        <h3><u>Hit or Miss</u></h3>
        <li>
            <iframe height="480"  width="854" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/306975215&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </li>

        @*Wasted*@
        <h3><u>Wasted(Explicit)</u></h3>
        <li>
            <iframe height="480"  width="854" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/321643526&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </li>

    </ul>

</center>