<style>
    div.gallery {
        border: 1px solid #ccc;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }



    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<body>

    <h2><u>Photos of Dierdre</u></h2>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/Gallery Photos/AlbumArt.jpg">
                <img src="~/images/Gallery Photos/AlbumArt.jpg" alt="I've Come to Life'" width="300" height="200">
            </a>
            @*<div class="desc">Add a description of the image here</div>*@
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/Gallery Photos/blackDress1jpg.jpg">

                <img src="~/images/Gallery Photos/blackDress1jpg.jpg" alt="Black Dress" width="300" height="200">
            </a>
            @*<div class="desc">Add a description of the image here</div>*@
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/Gallery Photos/dierdreStudio1.jpg">

                <img src="~/images/Gallery Photos/dierdreStudio1.jpg" alt="Dierdre in the Studio" width="300" height="200">
            </a>
            @*   <div class="desc">Add a description of the image here</div>*@
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/Gallery Photos/rockBar1.jpg">

                <img src="~/images/Gallery Photos/rockBar1.jpg" alt="Mountains" width="600" height="400">
            </a>
            @*<div class="desc">Add a description of the image here</div>*@
        </div>
    </div>


    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/Gallery Photos/liveWire2.jpg">

                <img src="~/images/Gallery Photos/liveWire2.jpg" alt="Mountains" width="600" height="400">
            </a>
            @*<div class="desc">Add a description of the image here</div>*@
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/Gallery Photos/rockBar1.jpg">

                <img src="~/images/Gallery Photos/rockBar1.jpg" alt="Mountains" width="600" height="400">
            </a>
            @*<div class="desc">Add a description of the image here</div>*@
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="~/images/Gallery Photos/dwain1.jpg">

                <img src="~/images/Gallery Photos/dwain1.jpg" alt="Mountains" width="600" height="400">
            </a>
            @*<div class="desc">Add a description of the image here</div>*@
        </div>
    </div>

    <div class="clearfix"></div>

</body>