<style>
    body {
        background-color: darkslategrey;
    }

    ul {
        list-style-type: none;
    }
</style>

<h1><u>Media and Press</u></h1>

<u><h2>Interviews and Reviews</h2></u>
<h3>Tour Press Force Interview</h3>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Oj_kSRwF_Mc" frameborder="0" allowfullscreen></iframe>
</div>

<h2><u>Live Performances</u></h2>
<div>
    <h3>
        Album Release Concert- June 3rd, 2016 - "Hit or Miss"
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1JQVxMwL-Ik" frameborder="0" allowfullscreen></iframe>
</div>
<div>
    <h3>
        Live at Alice Cooperstown - March 26th, 2016
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/SovERelFRtw" frameborder="0" allowfullscreen></iframe>
</div>

<h2><u>Audio on Sound Cloud</u></h2>
<ul>
    <li>
        <iframe width="560" height="360" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/324019212&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </li>
    <li>
        <iframe width="560" height="360" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/321643526&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </li>
    <li>
        <iframe width="560" height="360" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/291043445&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
    </li>
</ul>