<style>
      body {
        background-color: black;
    }

    ul {
        list-style-type: none;
    }

 a:hover {
    color: hotpink;
}

 a:visited {
    color: green;
}

 a:link {
    color: red;
}

</style>

<center><h1><u>PRESS RELEASES</u></h1></center>


<center>
    <h3>Tour Press Force Interview</h3>
    <div>
        <iframe height="480" width="854" src="https://www.youtube.com/embed/Oj_kSRwF_Mc" frameborder="0" allowfullscreen></iframe>
    </div>

    <h3><a href="https://www.tourpressforce.com/single-post/2017/03/29/Girls-night-out-at-the-Rebel-Lounge">Tour Press: Girls Night Out Review</a></h3>
    <h3><a href="https://www.tourpressforce.com/single-post/2017/05/18/Dierdre---AZs-Rock-Roll-Songstress">Rock N Roll Songstress</a></h3>
    <h3><a href="http://www.azcentral.com/story/entertainment/music/2017/06/02/phoenix-local-music-picks-june-roger-clyne-authority-zero-more/363876001/"> AZ Central Review</a></h3>
    <h3><a href="http://soundwavebrigade.com/coverage-at-coopers-town-feb-2016/">Soundwave Brigade Alice Cooperstown Review</a></h3>
    <h3><a href="http://www.azculture.com/a-night-of-rock/">A Night of Rock!</a></h3>
    <h3><a href="http://www.dluxradio.com/featured-artist.html">DLUX Radio Featured Artist</a></h3>
    <h3><a href="http://soundwavebrigade.com/alice-coopers-town-coverage-mar-26-2016/">Alice Cooperstown 03-26-2016</a></h3>

</center>