<style>
    body {
        background-color: black;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #ff3232;
    }
</style>




<div>


    <h1><center>Upcoming and Previous Shows</center></h1>

    <div style="align-content:center">
        <center>
            <h2>Get Tickets to The Next Show (click the flyer!)</h2>

            <a target="_blank" href="http://www.clubredrocks.com/event/1533286-lethal-injektion-judgement-mesa/"><img class="img-responsive" style="align-content:center" src="~/images/Show Flyers/SeptDierdreFlyer.JPG" /></a>
        </center>
    </div>
    <table style="width:100%">

        <tr>
            <th><u>Date</u></th>
            <th><u>Venue</u></th>
            <th><u>City, State</u></th>
            <th><u>Event</u></th>
        </tr>

        <tr style="background-color:blue">
            <td> 9/15/2017 </td>
            <td> Club Red </td>
            <td> Mesa, AZ </td>
            <td> Showcase </td>
        </tr>


        <tr>
            <td> 7/1/2017 </td>
            <td> Marquee Theater </td>
            <td> Scottdale, AZ </td>
            <td> Opening Act for the Iron Maidens </td>
        </tr>

        <tr>
            <td> 6/3/2017 </td>
            <td> The Hall at Pranksters Too </td>
            <td> Scottsdale, AZ </td>
            <td> Album Release </td>
        </tr>

        <tr>
            <td> 4/9/2017 </td>
            <td> Handlebar Saloon </td>
            <td> Scottsdale, AZ </td>
            <td> Arizona Bike Week </td>
        </tr>

        <tr>
            <td> 4/7/2017 </td>
            <td> Handlebar Saloon </td>
            <td> Scottsdale, AZ </td>
            <td> Arizona Bike Week </td>
        </tr>

        <tr>
            <td> 3/18/2017 </td>
            <td> The Hall at Pranksters Too </td>
            <td> Scottsdale, AZ </td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 3/11/2017 </td>
            <td> Live Wire </td>
            <td>Scottsdale, AZ </td>
            <td> Opening Act for Steel Panther </td>
        </tr>
        <tr>
            <td> 2/10/2017 </td>
            <td> The Hall at Pranksters Too </td>
            <td> Scottsdale, AZ </td>
            <td> Fender Band Jam Headliner </td>
        </tr>

        <tr>
            <td> 1/20/2017 </td>
            <td> Pho Cao </td>
            <td> Scottsdale, AZ</td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 1/11/2017 </td>
            <td> The Rebel Lounge </td>
            <td> Phoenix, AZ</td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 12/16/2016 </td>
            <td> Rockbar </td>
            <td> Scottsdale, AZ </td>
            <td> Showcase </td>
        </tr>


        <tr>
            <td> 11/18/2016 </td>
            <td> The Hall at Pranksters Too </td>
            <td> Scottsdale, AZ </td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 10/01/2016 </td>
            <td> Rockbar </td>
            <td> Scottsdale, AZ </td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 9/02/2016 </td>
            <td> The Rebel Lounge </td>
            <td> Phoenix, AZ </td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 8/13/2016 </td>
            <td> Rockbar </td>
            <td> Scottsdale, AZ </td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 3/27/2016 </td>
            <td> Alice Cooperstown </td>
            <td> Phoenix, AZ </td>
            <td> Showcase </td>
        </tr>
        <tr>
            <td> 2/19/2016 </td>
            <td> Alice Cooperstown </td>
            <td> Phoenix, AZ </td>
            <td> Showcase </td>
        </tr>

        <tr>
            <td> 12/04/2015 </td>
            <td> Rockbar </td>
            <td> Scottsdale, AZ </td>
            <td> Debut Show </td>
        </tr>

    </table>

    <div>

    </div>

</div>