<style>
    body {
        background-color: darkslategrey;
    }
</style>

<image>
    <center>
        <img src="~/images/LogoBlack.png" />
    </center>

</image>
<div>
    <center><h1>Visit Our Square Store For All of Your Favorite DIERDRE Gear!</h1></center>
</div>
<div>
    <center>
        <a href="https://squareup.com/store/dierdre">

            <image>
                <img src="~/images/squareLogo.png" />
            </image>
        </a>
    </center>
</div>