<style>
    body {
        background-color: black;
    }

    ul {
        list-style-type: none;
    }
</style>

<center>
    <h2><u>Live Performances</u></h2>
    <div>
        <h3>
            Album Release Concert- June 3rd, 2017 - "Hit or Miss"
        </h3>
        <iframe height="480"  width="854" src="https://www.youtube.com/embed/1JQVxMwL-Ik" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <h3>
            Live at Alice Cooperstown - March 26th, 2016
        </h3>
        <iframe  height="480"  width="854" src="https://www.youtube.com/embed/SovERelFRtw" frameborder="0" allowfullscreen></iframe>
    </div>

    
</center>